<a href="https://colab.research.google.com/github/tharun7781/Data-Science-Edukron/blob/main/01_integer_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import math

In [31]:
# Question 1: Calculate the product of first 10 natural numbers
print(math.prod(range(1,11)))

3628800

In [32]:
# Question 2: Find the remainder when 156 is divided by 7
print(156%7)

2

In [33]:
# Question 3: Calculate the square of 25
print(25 ** 2)

625

In [34]:
# Question 4: Cube root of 125
print(round(125 **(1/3)))

5

In [35]:
# Question 5: Sum of digits in 12345
print(sum(map(int,str(12345))))

15

In [36]:
# Question 6: Check if 97 is prime
print(all(97%i for i in range(2,int(97**0.5)+1)))

True

In [37]:
# Question 7: Factorial of 8
print(math.factorial(8))

40320

In [38]:
# Question 8: Average of [15, 23, 31, 42, 56]
num=[15,23,31,42,56]
print(sum(num)/len(num))

33.4

In [39]:
# Question 9: GCD of 48 and 36
print(math.gcd(48,36))

12

In [40]:
# Question 10: Sum of first 20 odd numbers
print(sum(range(1,40,2)))

400