<a href="https://colab.research.google.com/github/tharun7781/Data-Science-Edukron/blob/main/07_set_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Question 1: Create a set of first 5 natural numbers")
q1 = {1, 2, 3, 4, 5}
print(q1)

{1, 2, 3, 4, 5}

In [2]:
#Question 2: Find the length of set {10, 20, 30, 40, 50}
q2 = {10, 20, 30, 40, 50}
print(len(q2))

5

In [3]:
#Question 3: Add element 60 to set {10, 20, 30, 40, 50}
q3 = {10, 20, 30, 40, 50}
q3.add(60)
print(q3)

{50, 20, 40, 10, 60, 30}

In [4]:
#Question 4: Remove element 30 from set {10, 20, 30, 40, 50}
q4 = {10, 20, 30, 40, 50}
q4.remove(30)
print(q4)

{50, 20, 40, 10}

In [5]:
#Question 5: Find maximum element from {12, 45, 23, 67, 34}
q5 = {12, 45, 23, 67, 34}
print(max(q5))

67

In [6]:
#Question 6: Find minimum element from {12, 45, 23, 67, 34}
q6 = {12, 45, 23, 67, 34}
print(min(q6))

12

In [7]:
#Question 7: Find sum of elements in set {5, 10, 15, 20}
q7 = {5, 10, 15, 20}
print(sum(q7))

50

In [8]:
#Question 8: Check if 25 exists in set {10, 20, 30, 40, 50}
q8 = {10, 20, 30, 40, 50}
print(25 in q8)

False

In [9]:
#Question 9: Find difference between {1,2,3,4} and {3,4,5,6}
q9a = {1, 2, 3, 4}
q9b = {3, 4, 5, 6}
print(q9a - q9b)

{1, 2}

In [10]:
#Question 10: Find symmetric difference between {1,2,3,4} and {3,4,5,6}
q10a = {1, 2, 3, 4}
q10b = {3, 4, 5, 6}
print(q10a ^ q10b)

{1, 2, 5, 6}