<a href="https://colab.research.google.com/github/tharun7781/Data-Science-Edukron/blob/main/05_tuple_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Question 1: Create a tuple of first 10 natural numbers
q1 = tuple(range(1, 11))
print(q1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
#Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
q2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(q2))

10

In [3]:
#Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
q3 = ('a', 'b', 'c', 'd', 'e')
print(q3[2])

c

In [4]:
#Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
q4 = (23, 45, 12, 67, 34, 89, 56)
print(max(q4))

89

In [5]:
#Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
q5 = (1, 5, 2, 5, 3, 5, 4, 5, 6)
print(q5.count(5))

4

In [6]:
#Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
q6 = (10, 3.14, "hello", True)
print(q6)

(10, 3.14, 'hello', True)

In [7]:
#Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
q7 = ('java', 'python', 'c++', 'javascript')
print(q7.index('python'))

1

In [8]:
#Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
q8 = (10, 20, 30, 40, 50)
print(25 in q8)

False

In [9]:
#Question 9: Create a tuple of first 5 even numbers
q9 = tuple(range(2, 11, 2))
print(q9)

(2, 4, 6, 8, 10)

In [10]:
#Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
q10 = (15, 23, 31, 42, 56, 78)
print(sum(q10) / len(q10))

40.833333333333336