<a href="https://colab.research.google.com/github/tharun7781/Data-Science-Codes/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
data = pd.read_excel(r"/content/Sample - Superstore.xls")
df=pd.DataFrame(data)
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [17]:
# Question 1: Find total number of orders in the dataset.
df['Order ID'].nunique()

5009

In [18]:
# Question 2: Find the earliest order date.
df['Order Date'].min()

Timestamp('2014-01-03 00:00:00')

In [19]:
# Question 3: Find the latest order date.
df['Order Date'].max()

Timestamp('2017-12-30 00:00:00')

In [20]:
#Question 4: Find the total number of unique customers.
df['Customer ID'].nunique()

793

In [21]:
# Question 5: Find the total number of unique products sold.
df['Product ID'].nunique()

1862

In [22]:
# Question 6: Find the total number of unique categories.
df['Category'].nunique()

3

In [23]:
# Question 7: Find the total number of unique sub-categories.
df['Sub-Category'].nunique()

17

In [24]:
# Question 8: Count number of orders in each region.
df.groupby('Region')['Order ID'].count()

Region
Central    2323
East       2848
South      1620
West       3203
Name: Order ID, dtype: int64

In [25]:
# Question 9: Count number of orders by state.
df.groupby('State')['Order ID'].count()

State
Alabama                   61
Arizona                  224
Arkansas                  60
California              2001
Colorado                 182
Connecticut               82
Delaware                  96
District of Columbia      10
Florida                  383
Georgia                  184
Idaho                     21
Illinois                 492
Indiana                  149
Iowa                      30
Kansas                    24
Kentucky                 139
Louisiana                 42
Maine                      8
Maryland                 105
Massachusetts            135
Michigan                 255
Minnesota                 89
Mississippi               53
Missouri                  66
Montana                   15
Nebraska                  38
Nevada                    39
New Hampshire             27
New Jersey               130
New Mexico                37
New York                1128
North Carolina           249
North Dakota               7
Ohio                     469
Oklahoma                  66
Oregon                   124
Pennsylvania             587
Rhode Island              56
South Carolina            42
South Dakota              12
Tennessee                183
Texas                    985
Utah                      53
Vermont                   11
Virginia                 224
Washington               506
West Virginia              4
Wisconsin                110
Wyoming                    1
Name: Order ID, dtype: int64

In [26]:
# Question 10: Count number of orders by city.
df.groupby('City')['Order ID'].count()

City
Aberdeen        1
Abilene         1
Akron          21
Albuquerque    14
Alexandria     16
               ..
Woonsocket      4
Yonkers        15
York            5
Yucaipa         1
Yuma            4
Name: Order ID, Length: 531, dtype: int64

In [27]:
# Question 11: Find the most common ship mode.
df['Ship Mode'].mode().iat[0]

'Standard Class'

In [28]:
# --- Question 12: find the least common ship mode ---
df['Ship Mode'].value_counts().idxmin()

'Same Day'

In [29]:
# --- Question 13: count orders shipped with "Same Day" mode ---
df.loc[df['Ship Mode'] == 'Same Day', 'Order ID'].nunique()

264

In [30]:
# --- Question 14: count orders shipped with "First Class" ---
df.loc[df['Ship Mode'] == 'First Class', 'Order ID'].nunique()

787

In [31]:
# --- Question 15: count orders shipped with "Second Class" ---
df.loc[df['Ship Mode'] == 'Second Class', 'Order ID'].nunique()

964

In [32]:
# --- Question 16: count orders shipped with "Standard Class" ---
df.loc[df['Ship Mode'] == 'Standard Class', 'Order ID'].nunique()

2994

In [33]:
# --- Question 17: number of orders in each year ---
df.groupby(df['Order Date'].dt.year)['Order ID'].nunique()

Order Date
2014     969
2015    1038
2016    1315
2017    1687
Name: Order ID, dtype: int64

In [34]:
# --- Question 18: number of orders in each quarter ---
df.groupby(df['Order Date'].dt.to_period('Q'))['Order ID'].nunique()

Order Date
2014Q1    131
2014Q2    201
2014Q3    267
2014Q4    370
2015Q1    144
2015Q2    214
2015Q3    274
2015Q4    406
2016Q1    179
2016Q2    294
2016Q3    378
2016Q4    464
2017Q1    240
2017Q2    367
2017Q3    448
2017Q4    632
Freq: Q-DEC, Name: Order ID, dtype: int64

In [35]:
# --- Question 19: number of orders in each month (year-month) ---
df.groupby(df['Order Date'].dt.to_period('M'))['Order ID'].nunique()

Order Date
2014-01     32
2014-02     28
2014-03     71
2014-04     66
2014-05     69
2014-06     66
2014-07     65
2014-08     72
2014-09    130
2014-10     78
2014-11    151
2014-12    141
2015-01     29
2015-02     36
2015-03     79
2015-04     72
2015-05     74
2015-06     68
2015-07     66
2015-08     68
2015-09    140
2015-10     87
2015-11    158
2015-12    161
2016-01     48
2016-02     45
2016-03     86
2016-04     89
2016-05    108
2016-06     97
2016-07     96
2016-08     90
2016-09    192
2016-10    105
2016-11    183
2016-12    176
2017-01     69
2017-02     53
2017-03    118
2017-04    116
2017-05    118
2017-06    133
2017-07    111
2017-08    111
2017-09    226
2017-10    147
2017-11    261
2017-12    224
Freq: M, Name: Order ID, dtype: int64

In [36]:
# --- Question 20: number of orders in each weekday ---
df.groupby(df['Order Date'].dt.day_name())['Order ID'].nunique()

Order Date
Friday       916
Monday       920
Saturday     837
Sunday       850
Thursday     746
Tuesday      558
Wednesday    182
Name: Order ID, dtype: int64

In [37]:
# --- Question 21: count orders with discount applied (discount > 0) ---
df.loc[df['Discount'] > 0, 'Order ID'].nunique()

2954

In [38]:
# --- Question 22: count orders without discount (Discount is null or 0) ---
df.loc[df['Discount'] == 0, 'Order ID'].nunique()

2644

In [39]:
# --- Question 23: count orders where discount = 0 ---
df.loc[df['Discount'] == 0, 'Order ID'].nunique()

2644

In [40]:
# --- Question 24: count orders where discount > 0.2 ---
df.loc[df['Discount'] > 0.2, 'Order ID'].nunique()

1020

In [41]:
# --- Question 25: count orders where discount = 0.5 ---
df.loc[df['Discount'] == 0.5, 'Order ID'].nunique()

64

In [42]:
# --- Question 26: maximum discount given ---
max_discount = df['Discount'].max()

In [43]:
# --- Question 27: minimum discount given ---
min_discount = df['Discount'].min()

In [44]:
# --- Question 28: count orders where profit < 0 (loss-making orders) ---
df.loc[df['Profit'] < 0, 'Order ID'].nunique()

1318

In [45]:
# --- Question 29: count orders where profit = 0 ---
df.loc[df['Profit'] == 0, 'Order ID'].nunique()

64

In [46]:
# --- Question 30: count orders where profit > 100 ---
df.loc[df['Profit'] > 100 ,'Order ID'].nunique()

783

In [47]:
# --- Question 31: count orders where sales > 1000 ---
df.loc[df['Sales'] > 1000, 'Order ID'].nunique()

439

In [48]:
# --- Question 33: find average quantity per order ---
df.groupby('Order ID')['Quantity'].sum().mean()

np.float64(7.560990217608305)

In [49]:
# --- Question 34: find average sales per order ---
df.groupby('Order ID')['Sales'].sum().mean()

np.float64(458.61466566180883)

In [50]:
# --- Question 35: find average profit per order ---
df.groupby('Order ID')['Profit'].sum().mean()

np.float64(57.17648666400478)

In [51]:
# --- Question 36: find maximum sales in a single order ---
df.groupby('Order ID')['Sales'].sum().max()

23661.228

In [52]:
# --- Question 37: find minimum sales in a single order ---
df.groupby('Order ID')['Sales'].sum().min()

0.5559999999999998

In [53]:
# --- Question 38: find maximum profit in a single order ---
df.groupby('Order ID')['Profit'].sum().max()

8762.389099999999

In [54]:
# --- Question 40: find number of orders per customer ---
df.groupby('Customer ID')['Order ID'].nunique().sort_values(ascending=False)

Customer ID
EP-13915    17
SH-19975    13
NS-18640    13
PG-18820    13
ZC-21910    13
            ..
SM-20905     1
PH-18790     1
MG-18205     1
CJ-11875     1
LD-16855     1
Name: Order ID, Length: 793, dtype: int64

In [55]:
# --- Question 41: find customers who placed only 1 order ---
df.groupby('Customer ID')['Order ID'].nunique()

Customer ID
AA-10315     5
AA-10375     9
AA-10480     4
AA-10645     6
AB-10015     3
            ..
XP-21865    11
YC-21895     5
YS-21880     8
ZC-21910    13
ZD-21925     5
Name: Order ID, Length: 793, dtype: int64

In [57]:
# --- Question 43: total number of states represented ---
df['State'].nunique()

49

In [58]:
# --- Question 44: total number of cities represented ---
df['City'].nunique()

531

In [59]:
# --- Question 45: number of orders placed from California ---
df.loc[df['State'].str.lower() == 'california', 'Order ID'].nunique()

1021

In [60]:
# --- Question 46: number of orders placed from New York ---
df.loc[df['State'].str.lower() == 'new york', 'Order ID'].nunique()

562

In [61]:
# --- Question 47: number of orders placed from Texas ---
df.loc[df['State'].str.lower() == 'texas', 'Order ID'].nunique()

487

In [62]:
# --- Question 48: number of orders placed from Florida ---
df.loc[df['State'].str.lower() == 'florida', 'Order ID'].nunique()

200